<ion-content>
  <div class="main">
    <h1 class="center-title" style="color: rgba(253, 187, 45, 1)">
      Clientes Pendientes
    </h1>
    <ion-list>
      <ion-card *ngFor="let user of usuariosPendientes">
        <ion-card-header>
          <img [src]="user.foto" />
          <ion-row class="button-row">
            <ion-col>
              <ion-button
                size="medium"
                color="success"
                shape="round"
                style="font-size: 30px; margin-left: 15px"
                (click)="decidir(user.dni,user.nombre,user.apellido,'activo',user.email)"
                >👍🏻 Aceptar</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button
                size="medium"
                color="danger"
                shape="round"
                style="font-size: 30px"
                (click)="decidir(user.dni,user.nombre,user.apellido,'rechazado',user.email)"
                >👎🏻 Rechazar</ion-button
              >
            </ion-col>
          </ion-row>
          <hr />
        </ion-card-header>
        <ion-card-content>
          <p><strong> Nombre:</strong> {{user.nombre}}</p>
          <p><strong> Apellido:</strong> {{user.apellido}}</p>
          <p><strong> DNI:</strong> {{user.dni}}</p>
          <p><strong> Email:</strong> {{user.email}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="showSpinner" class="custom-spinner">
    <img src="/assets/images/logo.png" />
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="cerrarSesion()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
