<div *ngIf="!clavePedida; then thenBlock else elseBlock"></div>

<ng-template #thenBlock><ion-button (click)="PedirClave()" color="danger" expand="full" class="h-100 m-0 text-center" style="font-size: 3em;">DESACTIVAR</ion-button></ng-template>

<ng-template #elseBlock>
<div class="h-100 m-0 p-3 d-flex justify-content-center align-items-center flex-wrap">
  <ion-button (click)="CancelarPedidoClave()" expand="block" class="col-12 h-25" color="danger" style="font-size: 2.5em;">Cancelar</ion-button> 
  <ion-input label="Contraseña" label-placement="floating" fill="solid" type="password" [(ngModel)]="claveIngresada" class="col-12" errorText="Contraseña incorrecta" style="font-size: 2em;"></ion-input>
  <ion-button (click)="DesactivarAlarma(claveIngresada)" expand="block" class="col-12 h-25" color="success" style="font-size: 2.5em;">Desactivar</ion-button>
  <ion-button (click)="CerrarSesion(claveIngresada)" expand="block" class="col-12 h-25" color="success" style="font-size: 2.5em;">Salir</ion-button>
</div>
</ng-template>