<div class="row d-flex align-items-center" style="height: 100%;">
    <div class="card col-3 h-50" routerLink="hangman">
        <div class="card-header">
          hangman
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Guess a word through its letters before you are hanged</p>
          </blockquote>
        </div>
    </div>
    <div class="card col-3 h-50" routerLink="cards">
        <div class="card-header">
            cards
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Decide if the next card is higher or lower than the one shown</p>
            </blockquote>
        </div>
    </div>
    <div class="card col-3 h-50" routerLink="trivia">
        <div class="card-header">
            trivia
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Answer as many questions correctly as possible</p>
            </blockquote>
        </div>
    </div>
    <div class="card col-3 h-50" routerLink="countdown">
        <div class="card-header">
            countdown
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Stop the clock as close to zero as you can</p>
            </blockquote>
        </div>
    </div>
</div>