<div class="row d-flex align-items-center" style="height: 100%">
  <div class="h-25" style="min-height: 20vh;"></div>
  <div class="card col-12 col-sm-3 h-25" routerLink="hangman">
    <div class="card-header">hangman</div>
    <div class="card-body">
      <p class="card-text fs-5">
        Guess a word through its letters before you are hanged
      </p>
    </div>
  </div>
  <div class="card col-12 col-sm-3 h-25" routerLink="cards">
    <div class="card-header">cards</div>
    <div class="card-body">
      <p class="card-text fs-5">
        Decide if the next card is higher or lower than the one shown
      </p>
    </div>
  </div>
  <div class="card col-12 col-sm-3 h-25" routerLink="trivia">
    <div class="card-header">trivia</div>
    <div class="card-body">
      <p class="card-text fs-5">
        Answer as many questions correctly as possible
      </p>
    </div>
  </div>
  <div class="card col-12 col-sm-3 h-25" routerLink="countdown">
    <div class="card-header">countdown</div>
    <div class="card-body">
      <p class="card-text fs-5">Stop the clock as close to zero as you can</p>
    </div>
  </div>
</div>
