<ng-template [ngIf]="intro">
  <div
    class="d-flex justify-content-evenly mw-100 flex-wrap align-items-center mt-5"
    style="height: 75%"
  >
    <div *ngFor="let image of characters">
      <img src="{{ image }}" alt="" width="150px" height="150px" />
    </div>
  </div>
  <button type="button" class="btn btn-outline-secondary" (click)="startGame()">
    START GAME
  </button>
</ng-template>

<div *ngIf="started" style="height: 100%">
  <div
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 100%; width: 100%"
  >
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-none d-sm-block col-2">
        <img [src]="currentCharacter" alt="" width="150px" height="150px" />
      </div>
      <div class="col-12 col-sm-10 text-center">
        <p>
          <span>{{ currentQuestionIndex + 1 }}.</span>
          {{ questions[currentQuestionIndex]?.question.text }}
        </p>
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <div
        *ngFor="
          let option of mixedOptions.slice(
            currentQuestionIndex * 4,
            (currentQuestionIndex + 1) * 4
          )
        "
      >
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="verifyAnswer(option)"
          id="{{ option }}"
          [disabled]="disabledButtons"
        >
          {{ option }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="finished">
  <div
    class="d-flex flex-column justify-content-center mw-100 align-items-center mt-5"
    style="height: 75%"
  >
    <img src="assets/trivia/trophy.png" alt="" style="max-height: 50vh" />
    <h1>Score: {{ score }}</h1>
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="intro = true; finished = false"
    >
      Continue
    </button>
  </div>
</ng-template>
