<div class="container vh-100 d-flex justify-content-center">
  <div class="row align-items-center d-flex justify-content-center">
    <div class="col-12 login-box">
      <div class="col-lg-12 login-form">
        <div class="row m-3 px-3">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="./assets/icon.ico"
                  class="img-thumbnail rounded-start d-none d-sm-flex"
                  alt="..."
                  style="max-height: 50vh"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="card-text overflow-auto" style="max-height: 70vh">
                    <h1>Instructions:</h1>
                    <p>
                      Each player must register with a real or fictitious
                      account in the game room.
                    </p>
                    <p>
                      This account will be used to record the scores obtained in
                      each game and determine the final results.
                    </p>
                    <p>
                      Every player will participate in the four games available
                      in the room.
                    </p>
                    <p>
                      After completing each game, the points obtained will be
                      recorded in the results tab.
                    </p>
                    <p>
                      Each game will have a Top 5 based on the performance of
                      the players.
                    </p>
                    <p>
                      Points will be assigned according to each player's
                      position in the Top:
                    </p>
                    <ul>
                      <li><strong>Top 1:</strong> 5 points</li>
                      <li><strong>Top 2:</strong> 3 points</li>
                      <li><strong>Top 3:</strong> 1 point</li>
                      <li><strong>Top 4:</strong> 0 points</li>
                      <li>
                        <strong>Top 5:</strong> Can subtract one point from
                        another player.
                      </li>
                    </ul>
                    <p>
                      If a player appears in the Top of a game more than once,
                      only the highest score will be counted.
                    </p>
                    <p>
                      At the end of the stipulated time, the composition of the
                      Top for each game will be verified.
                    </p>
                    <p>
                      The points obtained by each player in each game will be
                      summed up to determine the overall performance.
                    </p>
                    <p>
                      The player with the highest total points will be the
                      winner.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
