<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="camara">
      <ion-icon name="camera-outline"></ion-icon>
      Camara
    </ion-tab-button>
    <ion-tab-button tab="listado">
      <ion-icon name="library-outline"></ion-icon>
      Listado
    </ion-tab-button>
    <ion-tab-button tab="informes">
      <ion-icon name="stats-chart-outline"></ion-icon>
      Informes
    </ion-tab-button>
    <ion-tab-button tab="volver">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
      Volver
    </ion-tab-button>
    <ion-tab-button tab="cerrar" (click)="CerrarSesion()">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>