<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center" style="font-size: 3em;">
      Crédito: {{this.creditos}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <ion-fab  slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button (click)="LimpiarCredito()" color="success">
      <ion-icon name="battery-dead-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

  <div class="camara">
    <video id="qr" autoplay playsinline>Escanear QR</video>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [edge]="true">
    <ion-fab-button (click)="CerrarSesion()" color="success">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>{{this.mensaje}}</ion-title>
  </ion-toolbar>
</ion-footer>
