<ion-content [fullscreen]="true" scroll-y="false">
  <div class="m-0 h-100">
    <ion-button
      expand="full"
      color="danger"
      (click)="EstablecerListaFeas(true)"
      class="h-50"
    >
      <ion-img src="./../../../assets/fotoFea.png" alt="Foto fea"></ion-img>
    </ion-button>

    <ion-button
      expand="full"
      color="success"
      (click)="EstablecerListaFeas(false)"
      class="h-50"
    >
      <ion-img src="./../../../assets/fotoLinda.png" alt="Foto linda"></ion-img>
    </ion-button>
  </div>
</ion-content>
