.contenedor {
    --overflow: hidden !important;
    --overscroll-behavior-y: none !important;
    --display: flex;
    --background: #f2cda0;
  }
  
  
  .center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Font2;
  }
  
  ion-fab-button {
    height: 60px;
    width: 60px;
  }
  
  ion-fab-button::part(native) {
    background-color: white;
    border-radius: 35px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: blue;
  }
  
  ion-fab-button::part(native):hover::after {
    background-color: white;
  }
  
  ion-fab-button::part(native):active::after {
    background-color: rgb(153, 140, 162);
  }
  
  @media screen and (orientation: landscape) {
    ion-content {
      --overflow: auto !important;
      --overscroll-behavior-y: contain !important;
    }
  }
  
  .alert-danger.mensajeError {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 0px;
  }
  
  .card {
    position: fixed;
    box-shadow: 2px 40px 50px rgba(1, 1, 1, 0.5);
    background: rgb(245, 246, 204);
    background: radial-gradient(
      circle,
      rgba(245, 246, 204, 1) 0%,
      rgba(253, 187, 45, 1) 100%
    );
  }
  
  ion-card-content {
    padding-bottom: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height: 200px;
  }
  
  .ion-item {
    display: flex;
    align-items: center;
    border: 3px solid #ffffff;
    border-radius: 20px;
    height: 40px;
    margin-top: 15px;
  }
  
  .ionput {
    height: 30px;
  }
  
  .icon-login {
    width: 24px;
  }
  
  .botonimg {
    width: 50px;
    height: 50px;
  }
  
  .button-container {
    font-size: medium;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  //SPINNER
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .custom-spinner img {
    animation: rotate-center 1s ease-in-out infinite both;
    max-width: 200px;
    height: 200px;
    opacity: 101;
  }
  
  .custom-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1011;
    background-color: rgba(91, 91, 91, 0.601);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
  }
  
  ion-input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
  }
  
  :host zxing-scanner::ng-deep video {
    height: 20vh;    
    width: 90;
    object-fit: contain;
     border-style: solid;
    border-color: #5d78ff;
  }
  