<div class="container-fluid">
  <div class="row" style="height: 100vh">
    <div class="col-md-6 p-0" style="height: 100%">
      <div
        class="d-flex flex-column justify-content-center align-items-center h-50"
        id="logo"
        [@fadeInOut]="loading ? 'void' : ''"
        appBackground
        [backgroundColor]="'white'"
      >
        <div class="d-flex justify-content-center align-items-center">
          <img appLogo />
          <h1>Clínica OnLine</h1>
        </div>
        <h2 class="text-uppercase" appEmoticon>
          La bienvenida a {{ user["firstname"] }}
        </h2>
        <i
          class="bi bi-arrow-left-circle-fill"
          style="font-size: 2em"
          (click)="signout()"
          >CERRAR SESIÓN</i
        >
      </div>
      <div class="d-flex h-100">
        <button
          class="d-flex justify-content-center align-items-center h-50 w-50"
          id="requestAppointment"
          routerLink="request-appointment"
          appBackground
          [backgroundColor]="'red'"
        >
          <h2 class="text-light">SOLICITAR TURNO</h2>
        </button>
        <button
          class="d-flex justify-content-center align-items-center h-50 w-50"
          id="appointment"
          routerLink="appointment"
          appBackground
          [backgroundColor]="'grey'"
        >
          <h2 class="text-light">TURNOS</h2>
        </button>
      </div>
    </div>
    <div class="col-md-6 p-0" style="height: 100%">
      <div class="d-flex h-50">
        <button
          class="d-flex justify-content-center align-items-center h-100 w-50"
          id="profile"
          routerLink="profile"
          appBackground
          [backgroundColor]="'red'"
        >
          <h2 class="text-light">MI PERFIL</h2>
        </button>
        <button
          class="d-flex justify-content-center align-items-center h-100 w-50"
          routerLink="report"
          appBackground
          [backgroundColor]="'grey'"
        >
          <h2 class="text-light">REPORTES</h2>
        </button>
      </div>
      <button
        class="d-flex justify-content-center align-items-center h-50 w-100"
        id="userSection"
        routerLink="user-section"
        appBackground
        [backgroundColor]="'white'"
      >
        <h2>SECCIÓN USUARIO</h2>
      </button>
    </div>
  </div>
</div>
