ion-content {
    --background: rgb(245, 246, 204);
    --background: radial-gradient(circle, rgba(245, 246, 204, 1) 0%, rgba(253, 187, 45, 1) 100%);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
    
    h1 {
      color: white;
      font-family: "Font2";
      font-size: 40px;
      text-shadow: 0 0 3px blue, 0 0 5px aqua;
    }
  
    h2 {
      color: white;
      font-family: "Font2";
      font-size: 15px;
      text-shadow: 0 0 3px blue, 0 0 5px aqua;
    }
    
    .btnImage {
      background-image: url('/assets/images/home_btn.jpg');
      background-repeat: no-repeat;
      background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
      background-position: center center;
      height: 80vh;
      width: 80%;
      opacity: 0.8;
      max-width: 500px;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 2px solid white; /* Agregamos un borde blanco de 2px */
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transiciones para sombra y transform */
      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      }
      &:active {
        transform: translate(-50%, -50%) scale(1.1); // Escalamos el botón cuando se hace clic
      }
    }
    
    .btnImage img {
      display: block; /* Esto evita cualquier espacio adicional debajo de la imagen */
      margin: auto; /* Centra la imagen horizontalmente en el div */
      max-width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del div */
      height: auto; /* Permite que la altura se ajuste automáticamente al ancho */
      margin-top: 35%;
    }
    
    .scanner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      margin-top: 20px;
    }
  
    :host zxing-scanner::ng-deep video {
      height: 75vh;    
      width: 90vw;
      object-fit: contain;
      border-style: solid;
      border-color: #5d78ff;
    }
  
  
    //SPINNER
    @keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
    
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  
    .custom-spinner img {
      animation: rotate-center 1s ease-in-out infinite both;
      max-width: 200px;
      height: 200px;
      opacity: 101;
    }
    
    .custom-spinner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1011;
      background-color: rgba(91, 91, 91, 0.601);
      background-repeat: no-repeat;
      background-size: 150px;
      background-position: center;
    }
    


/* Estilos para el chat */

.chatMozo {
  background-size: cover; /* Ajusta el tamaño de la imagen al contenido */
  background-position: center; /* Centra la imagen en el contenido */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: white; /* Cambia el color del texto si es necesario para que sea legible en el fondo */
}

.chat-window {
  background-color: black;
  background-image: url('/assets/images/chat.png');
  background-position: center; /* Centra la imagen en el contenido */
  background-repeat: no-repeat;
  background-size: cover;

  .app-mensajes {
    overflow-y: scroll;
    height: 88vh; /* Redujimos la altura para evitar demasiado espacio vacío */
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .chat-message {
    display: flex;
    flex-direction: column;
    
    &.text-end {
      align-self: flex-end;
    }

    &.text-start {
      align-self: flex-start;
    }
    
    .badge.alert-danger {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border-radius: 10px;
      padding: 8px;
      font-size: 18px;
      background-color: #f44336;
      color: white;
    }

    i {
      font-family:"Arial" ;
      color: white;
      margin-top: -8px;
      margin-bottom: -8px;
    }

    .chat-text {
      margin-top: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f2f2f2;
      padding: 5px;
      font-size: 25px;
      color: black;
    }

    .chat-textMe {
      margin-top: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f2f2f2;
      padding: 5px;
      font-size: 25px;
      color: blue;
    }
  }
}

/* Estilos para el input */
ion-input {
  border-radius: 8px;
  border: 2px solid whitesmoke;
  height: 45px;
  //width: 90%;
  //margin-left: 18px;
  //padding-left: 10px;
  color: white;
}


.mainSelect {
  --background: linear-gradient(180deg, #ffe6b4, #cddeff 50%, #ff8c8c);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  position: relative;
}

/* Establecemos la fuente para los encabezados h3 */
h3 {
  font-family: Mooli;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background-color: #ddd1fe;
}